---
type Props = {
  title?: string;
  titleClassName?: string;
  class?: string;
};

const { title, titleClassName, class: className, ...rest } = Astro.props;
---

<div class:list={["rounded-lg p-8", className]} {...rest}>
  {
    title && (
      <h2 class={`text-h3 mb-6 text-center ${titleClassName}`}>{title}</h2>
    )
  }
  <slot />
</div>
