---
import Logo from "@/components/Logo.astro";
import SmallCard from "./SmallCard.astro";
import Section from "./Section.astro";
---

<Section class="bg-secondary-body py-14">
  <div class="flex flex-row flex-wrap gap-6">
    <div class="grow">
      <SmallCard
        heading="Email"
        text="dr.hela.noomene@example.com"
        class="bg-secondary"
      />
    </div>
    <div class="grow">
      <SmallCard heading="Phone" text="+41 12 345 67 89" class="bg-secondary" />
    </div>
  </div>
</Section>
