---
import Logo from "@/components/Logo.astro";
import SmallCard from "./SmallCard.astro";
import Section from "./Section.astro";
---

<Section class="bg-light dark:bg-darkmode-light py-14">
  <div class="flex flex-row flex-wrap gap-6">
    <div class="grow">
      <SmallCard heading="Email" text="dr.hela.noomene@example.com" />
    </div>
    <div class="grow">
      <SmallCard heading="Phone" text="+41 12 345 67 89" class="" />
    </div>
  </div>
</Section>

<!-- Simple Footer -->
<div class="border-t border-border/20 py-6">
  <div class="text-center">
    <Logo />
  </div>
</div>
