.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary dark:border-darkmode-primary dark:text-text-dark text-white dark:bg-darkmode-primary;
}

.btn-outline-primary {
  @apply border-border text-text-secondary hover:bg-secondary dark:hover:text-text-light bg-transparent hover:text-white dark:border-darkmode-primary dark:text-white dark:hover:bg-darkmode-primary;
}
