---

---

<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2750.4!2d6.8431546!3d46.4630519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e9d258de1c973%3A0xda6b9523ded13807!2sMedical%20Center%20Gare%20De%20Vevey!5e0!3m2!1sen!2sch!4v1699999999999!5m2!1sen!2sch"
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>
